.container{
    background-color: cadetblue;
}

#headerName{
    font-size: 2em;
    font-weight: bold;
}

li:nth-child(odd)
{
    background-color: cadetblue;
}
#headerName{
    color:black;
}
#chick{
    font: white;
}
