.navbar{
	background-color: grey;
}

.row{
	background-color: pink;
	padding: 10px;
	margin: 10px;

}

.chicken, .beef, .sushi{
	text-align: center;
	float:right;
	background-color: pink;
}

#header-nav{
	background-color: green;
	border-radius: 0;
	border-radius: 0;
}

.navbar-brand h1{
	margin-top:0;
	margin-bottom:0;
	text-decoration: none;
}
.navbar-brand{
	font-size: 3em;
	font-weight: 700;
}


